<?xml version="1.0" encoding="UTF-8" ?>
<!-- MyBatis配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置文档: https://mybatis.org/mybatis-3/zh/configuration.html -->
    <settings>
        <!-- 是否开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 指定 MyBatis 所用日志的具体实现，未指定时将自动查找 -->
        <!-- 支持: SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 延迟加载的全局开关 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!-- 是否允许单个语句返回多结果集 -->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <!-- 使用列标签代替列名 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 允许 JDBC 支持自动生成主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 指定 MyBatis 应如何自动映射列到字段或属性 -->
        <!-- NONE 表示关闭自动映射；PARTIAL 只会自动映射没有定义嵌套结果映射的字段；FULL 会自动映射任何复杂的结果集（无论是否嵌套） -->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <!-- 设置超时时间，决定数据库驱动等待数据库响应的秒数 -->
        <setting name="defaultStatementTimeout" value="20"/>
        <!-- 全局性地开启或关闭所有映射器配置文件中已配置的任何缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 配置默认的执行器 -->
        <!-- SIMPLE 就是普通的执行器；REUSE 执行器会重用预处理语句（PreparedStatement）；BATCH 执行器不仅重用语句还会执行批量更新 -->
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>
    <typeAliases>
        <!-- 配置包下的所有别名 -->
        <package name="com.upfor.grover.entity"/>
    </typeAliases>
</configuration>
